.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
}
.header__wrapper {
  display: flex;
  max-width: 90em;
  width: 95%;
}
.header__logo {
  text-decoration: none;
  color: #ffffff;
  font-size: 2em;
  font-weight: bold;
  font-style: italic;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.header__nav--left {
  position: relative;
  left: 100px;
}
.nav__link {
  margin: 0 1em 1em;
  text-decoration: none;
  color: #ffffff;
}
.header__nav--right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__login {
  text-decoration: none;
  color: #ffffff;
  display: flex;
}
.search {
  margin: 0 2em;
  width: 100%;
  max-width: 40em;
}
