.carousel {
  position: relative;
  display: flex;
  height: 220px;
  width: "100%";
  justify-content: center;
  box-shadow: inset 0px -40px 250px 51px #000000;
}
.ca-slide__details {
  position: absolute;
  bottom: 0;
  max-height: 20em;
  padding-bottom: 3.5em;
  width: 95%;
  max-width: 90em;
  color: #ffffff;
  z-index: 9;
}
.ca-slide__title {
  font-size: var(--rem);
  text-decoration: none;
  color: var(--text-slate-100);
  font-weight: 700;
  font-size: var(--text-xl);
}

.ca-slide__ratings {
  margin-top: 0.125em;
  margin-bottom: 0.125em;
}
.ca-slide__ratings span {
  margin: 0 2.5px 0 2.5px;
  font-size: var(--text-sm);
  color: var(--text-slate-400);
}
.ca-slide__description {
  max-width: 90ch;
  font-size: var(--text-sm);
  margin: 0.5em 0px 0.5em 2px;
  display: none;
  color: rgb(223, 223, 223);
}
.ca-slide__trailer-btn {
  cursor: pointer;
  margin: 0.5em 0 0.5em 0;
  background-color: rgb(33, 179, 33);
  font-weight: 500;
  font-size: var(--text-xs);
  color: #ffffff;
  outline: none;
  border: none;
  border-radius: 2px;
  padding: 3px 5px;
}
.ca-slide__trailer-btn:hover {
  color: rgb(235, 245, 255);
  transform: scale(1.03);
  background-color: rgb(32, 168, 32);
}

.slick-dots {
  bottom: 20px;
}
.slick-dots li {
  margin: 0 5px 0;
  height: auto;
  width: auto;
}
.slick-slider {
  overflow: hidden;
}
.slick-dots li button {
  background-color: #ffffff;
  padding: 0;
  opacity: 0.25;
  height: 3.5px;
  width: 30px;
  border-radius: 5px;
}
.slick-dots .slick-active button {
  background-color: #ffffff;
  opacity: 0.75;
}
.slick-dots li button:before {
  content: none;
}

@media screen and (min-width: 26.25em) {
  .carousel {
    height: 255px;
  }
  .slick-dots {
    bottom: 35px;
  }
}
@media screen and (min-width: 40em) {
  .carousel {
    height: 305px;
  }
}
@media screen and (min-width: 48em) {
  .carousel {
    height: 416px;
  }
  .ca-slide__description {
    display: block;
  }
}
@media screen and (min-width: 64em) {
  .carousel {
    height: 520px;
  }
}
@media screen and (min-width: 80em) {
  .carousel {
    height: 600px;
  }
}
@media screen and (min-width: 96em) {
  .carousel {
    height: 750px;
  }
}
